<% provide(:title, "About") %>


    <h1>About</h1>
    <p>
		Alex is a web developer living and working in Seattle, USA. 

	He received his formal education in Civil and Environmental Engineering. After working in construction for several years, he decided to make a change, and has been developing since.

    </p>
  </body>
</html>