<% provide(:title, 'Experience') %>
<h1>Experience</h1>
<p>
<body>

    <div id="page-wrap">
    	<%= link_to image_tag("AlexSmall.png", alt: "Profile Picture") %>
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">Alex Lee</h1>
        
            <p>
                Email: alex.lee.git at gmail.com
            </p>
        </div>
                
        <div id="objective">
            <p>

            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>University of Washington</h2>
                <p><strong>Major:</strong> Civil and Environmental Engineering<br />
                   
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Relevant Skills</dt>
            <dd>
                <h2>Information Technology</h2>
                <ul>
                	<li>Database Management, Development and Analytics skills, SQL</li>
	<li>Familiar with Microsoft stack, .net, C#, Matlab</li>
<li>Development: Ruby on Rails Framework, JavaScript, Version Control, Live Deployment</li>
<li>Proficient with HTML, CSS, Visio, Java, JavaScript, Python</li>
<li>Thorough knowledge and firsthand experience of Windows and UNIX systems, TCP/IP systems</li>
</ul>
                
                <h2>Engineering/Project Management</h2>
                <ul>
<li>Diverse Project Management and project pursuit experience across multiple disciplines</li>
	<li>Cost Management, CPM Scheduling,  and Business Intelligence skillset</li>
	<li>Strong CAD background</li>
<li>Frequent Client and Vendor interfacing; high levels of client satisfaction</li>
<li>Played key role for SAP and Sharepoint deployment and training</li>
<li>Field Operation, Spacial Planning  and Records Managements</li>
<li>Civil, Structural, and Geotechnical Engineering training</li>
                	</ul>
<h2>General</h2>

                <ul>
<li>Highly skilled with Microsoft Office Suite and Adobe inDesign, AutoCAD, Google Sketchup</li>
	<li>Extensive communication and interpersonal skills, including client relations</li>
	<li>Strong professional experience working with internal and external partners</li>
<li>Technical engineering background, analytical and problem solving skills; fast learner</li>
                	</ul>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>Kiewit<span> Survey Project Engineer, SR 520 Floating Bridge Project, Bellevue, WA          12/2014 - 04/2015
</span></h2>
                <ul>
                    <li>Responsible for managing personnel and equipment for project survey department</li>
                    <li>Coordinated between multiple internal work groups, independent subcontractors and third party stakeholders to plan, schedule, and execute complex survey tasks</li>
                    <li>Developed alignments and models in AutoCad Civil 3D for geometric take-offs and construction data</li>
                    <li>Coordinated with project team to determine survey needs and controls on operational basis</li>

                </ul>
                
                <h2>Kiewit <span>Project Scheduler, SR 520 Floating Bridge Project, Bellevue, WA                       02/2014 - 11/2014</span></h2>
                <ul>
                    <li> Responsible for developing project progress documentation and communication to client, executing multi-million dollar pay applications. With the execution of a major delay based change order, I reestablished the baseline schedule through coordination with client personnel and internal partners. The client staff stated it was the most positive experience they’d had with a scheduler on a the project.</li>
                                        <li>Created Time Impact Analysis Schedules to analyze the effects of delays to the project</li>
                    <li>Further developed relationship skills through communication with client personnel</li>

                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            
          
            <dt>References</dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>

